.DismissibleAlert {
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.DismissibleAlert-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.DismissibleAlert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.DismissibleAlert button {
  background: none;
  border: none;
  cursor: pointer;
}